<div class="img">
    <img src="../assets/imag/add (1).svg"><br>
</div>
<!-- <img src="../assets/imag/add (1).svg"><br> -->
<div class="para">
    <p><b>    Your Shopping bag is empty </b></p><br>
</div>
<!-- <p><b>    Your Shopping bag is empty </b></p><br> -->
<div class="button">
    <button type="button" routerLink="/home1" class="btn btn-warning">continue shopping</button>

</div>
<!-- <button type="button" class="btn btn-warning">continue shopping</button> -->




<!-- ////ngif -->
<!-- <h4 *ngIf="clicked"> number 1={{num1}}</h4>
<div *ngIf="clicked; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>content to render condition is true</ng-template>
<ng-template #elseBlock>content to render condition is false</ng-template> -->

<!-- //ngfor -->
<!-- <div *ngfor="let item of items;let i=index">
    <ul>
        <li>{{item}}</li>
    </ul>
</div> -->

<!-- //ngswitch -->
<!-- <div *ngfor="let data of datas;let i=index">
<div [*ngswitch]="data.id">
    <div *ngswitchcase="1">for this id,name is {{data.name}}</div>
    <div *ngswitchcase="2">for this id,name is {{data.name}}</div>
</div> -->