.img{
    
    margin-left: 620px;
    padding-top: 10px;
    size: 10%;
}
.para{
    margin-left: 550px;
    padding-top: 30px;
    size: 20%;
    
}
.button{
    margin-left: 560px;
    margin-right: 560px;
    
    
}
/* .box{
    height:200px;
    width:200px;
    background: brown;
}
.ngclass{
    background: orange ;
} */
