<!-- <p>home works!</p> -->
<!-- //interpolation -->
<!-- <div class="contentbody">
    <h1>your name:{{yourname}}</h1>
    <hr>
    <h4>number1={{num1}}</h4>
    <h4>number2={{num2}}</h4>
    <h3>total = {{addnumbers()}}</h3>
</div> -->
<!-- //property binding -->
<!-- <div class="contentbody">
    <img [src]="imgurl">
</div> -->
<!-- //event binding -->
<!-- <div class="contentbody">
    <button (click)="incrementcount()">inc button</button>
    <hr>
    <p>new value after clicked:{{incrementvalue}}</p>
</div> -->
<!-- //two way binding -->
<!-- <div>
    <input type="text"[(ngmodel)]="name">
    <input type="number"[(ngmodel)]="age">
    <p>my name is={{name}}</p>
    <p>my age is={{age}}</p>
</div> -->
<!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore inventore id veritatis. Dolor, ex ullam est, officiis at beatae eum voluptas excepturi laborum voluptates dolore animi, dignissimos fuga ipsum cumque.</p> -->
<form class="px-4 py-3">
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck">
      <label class="form-check-label" for="dropdownCheck">
        Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-warning">LOG IN</button>
</form>