.form-group{
    background-color:skyblue;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
.form-check{
    margin-left: 500px;
}
.btn {
    margin-left: 500px;
    padding-left: 135px;
    padding-right: 135px;
}
/* .form-control{
   
} */
/* .exampleDropdownFormEmail1{
    
} */